body{
  background-color: #FAFAFA;
}
/* nav-menu */
.navigation{
  float: left;
  position: relative; 
  width: 20%;
  padding: 20px 30px 50vh 30px;
  background-color: #fff;
}
.nav-menu{
  width: 170px;
}
.nav-menu > div {
  margin: 10px auto;
  display: flex;
  align-items: baseline;
  /* justify-content: space-between; */
}
.nav-menu i{
  font-size: 30px;
  margin-right: 10px;
}
.logo{
  margin-bottom: 30px;
}
.card-img{
  /* width: 50%; */
}
.card-img > img{
  width: 100%;   
}
.counter{
  display: inline-flex;
  padding: 0px 0;
  border: 1px solid black;
  align-items: center;
}
.counter,  button{
  border-radius: 50px;
}
.counter > span {
  margin: 0 5px
}
.main-section__big-card__info__change-color{
  display: flex;
  justify-content: space-between;
}
.main-section__big-card{
  display: flex;
  justify-content: space-between;
  width: 30%;
}